<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<included>
	<springProperty name="logFileName" source="log.filename" defaultValue="internal-document-search-service" />
	<property name="APP_LOG_FILENAME" value="logs/${logFileName}.log" />
	<appender name="APPLICATION_LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_FILENAME}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${APP_LOG_FILENAME}.%d{yyyyMMdd}.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC_APPLICATION_LOG_FILE" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="APPLICATION_LOG_FILE" />
	</appender>
</included>